extends base
style("text/css").
  .yo{
    color: red;
  }

block content
    .container-fluid
      p.text-center Welcome ! To eCart, Your Mini Shopping Mall
      .row
        .col-lg-6.col-md-6.col-sm-12.card
          .card-block
            .card-header.text-center Sign up here!
            .card-title.text-center Create your own product just Signing up.
            form(method='POST',action='http://localhost:3000/users/signup')
              .form-group.row
                label.col-3(for='firstName') First Name
                .col-9
                  input.text-center.form-control(type='text',name='firstName',placeholder='John')
              .form-group.row
                label.col-3(for='lastName') Last Name
                .col-9
                  input.text-center.form-control(type='text',name='lastName',placeholder='Doe')
              .form-group.row
                label.col-3(for='emailId') Email Address
                .col-9
                  input.text-center.form-control(type='email', name='emailId', placeholder='JohnDoe@example.com')
              .form-group.row
                label.col-3(for='mobileNumber') Mobile Number
                .col-9
                  input.text-center.form-control(type='Number', name='mobileNumber', placeholder='(+91)-1234567890')
              .form-group.row
                label.col-3(for='password') Enter Password
                .col-9
                  input.text-center.form-control(type='password',name='password')
              button.btn.btn-block.btn-lg(type='submit') Signup

        .col-lg-6.col-md-6.col-sm-12.text-center.card
          .card-block
            .card-header LogIn here!
            .card-title Login, You are good to go!
                br
              .row
                .col-lg-12.col-md-12.col-sm-12
                  form(method='post', action='http://localhost:3000/users/login')
                    .form-group.row
                      label.col-3(for='email') Email Address
                      .col-9
                        input.text-center.form-control(type='email', name='emailId', placeholder='JohnDoe@example.com')
                    .form-group.row
                      label.col-3(for='passworrd') Password
                      .col-9
                        input.text-center.form-control(type='password',name='password')
                    .row
                      .col-6
                        button.btn.btn-block.btn-lg.bg-inverse(type='submit') LogIn    
                  button.btn.btn-lg.btn-block.bg-inverse
                    a(href="http://localhost:3000/users/forgot") Forgot Password?

    form
      a(href="#", value='Go back!',onclick='history.back()')
      input.btn.btn-primary(type='button', value='Go back!', onclick='history.back()')
      i.fa.fa-chevron-left(aria-hidden='true')