extends base

block content
    .container-fluid
      h3.text-center Welcome ! To eCart, Your Mini Shopping Mall
      hr(style="height:1.5px;border:none;color:#6d6c54;background-color:#6d6c54;")
      .row.text-center
        .col-lg-6.col-md-12.col-sm-12
          h2 Register
          hr(style="height:2px;border:none;color:#4c9bba;background-color:#4c9bba")
          form(method="post",action="http://localhost:3000/users/signup")(style="padding:10px;")
            h5.mr-auto First Name :
            input.form-control(type='text',name='firstName',placeholder="John")
            br
            h5.mr-auto Last Name :
            input.form-control(type='text',name='lastName',placeholder="Doe")
            br
            h5.mr-auto Email :
            input.form-control(type='text',name='emailId',placeholder="johnDoe@example.com")
            br
            h5.mr-auto Mobile Number :
            input.form-control(type='Number',name='mobileNumber',placeholder="1234567890")
            br
            h5.mr-auto Password :
            input.form-control(type='password',name='password',placeholder='Password')
            br
            button.btn.btn-primary.btn-block(style="color:white;background-color:#4c9bba;border-color:black;") Register
        .col-lg-6.col-md-12.col-sm-12
          h2 Login
          hr(style="height:2px;border:none;color:#ff6363;background-color:#ff6363;") 
          form(method="post",action="http://localhost:3000/users/login")(style="padding:10px;")
            h5.mr-auto Email :
            input.form-control(type="text",placeholder="Email",name="emailId")
            br
            h5 Password :
            input.form-control(type='password',name="password",placeholder="Password")
            br
            br
            button.btn.btn-primary.btn-block(style="color:white;background-color:#ff6363;border-color:black") Login
          a(href="http://localhost:3000/users/forgot")(style="text-decoration:none;font-weight:bold;")
            h5 Forgot Password?