extends base

block content
	table.table
		thead
			tr
				th Products
				th Quantity
				th Price
				th Delete
		tbody
			each item, index in items
				tr
					td #{item.proName}
					td #{index+1}
					td #{item.price}
					td
						form(method="post", action="http://localhost:3000/users/delete/#{item._id}")
							button(type='submit') Delete